 body{
            background-color: lightblue;
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; 
        }
        .box{
            text-align: center;
            border: 2px solid black;
            width: 300px;
            height: 300px;
            background-color: white;
            border-radius: 10px;
        }
        button{
            margin: 10px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        p{
            font-size: 14px;
            color: rgb(21, 21, 21);
            background-color: lightgray;
            padding: 5px;
            border-radius: 5px;
            width: 250px;
            text-align: center;
            margin: auto;
            margin-top: 40px;
            height: 20px;
        }
        #scoreDisplay{
            margin-top: 20px;
            font-weight: bold;
        }